<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--
        实际注册了2个bean
        1. OkHttpFactory.java
        2. OkHttpClient
    -->
    <bean class="com.learn.demo.OkHttpFactory" id="factory"/>
</beans>