<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 通过静态工厂方法注册bean -->
    <bean class="com.learn.demo.OkHttpFactory" factory-method="getInstance" />

    <!-- 通过实例工厂方法注册bean -->
    <bean class="com.learn.demo.OkHttpFactory2" id="factory2"/>
    <bean class="okhttp3.OkHttpClient" factory-bean="factory2"/>
</beans>